
<div style="margin-top: 20px; padding-left: 10px;">
<h1>People wanna know your band</h1>

 <form action="/action_page.php">
  <div class="form-group">
    <label for="text">Band name:</label>
    <input type="email" class="form-control col-sm-3" id="email">
  </div>
  <div class="form-group">
    <label for="text">Genre:</label>
    <input type="text" class="form-control col-sm-3" id="genre">
  </div>
  <div class="form-group">
    <label for="text">Region:</label>
    <input type="text" class="form-control col-sm-3" id="pwd">
  </div>
  <div class="form-group">
    <label for="integer">Since:</label>
    <input type="integer" class="form-control col-sm-3" id="since">
  </div>
  <div class="form-group">
    <label for="text">Description:</label>
    <input type="text" class="form-control col-sm-3" id="description">
  </div>

  
  <button type="submit" class="btn btn-success">Enter</button>
</form> 
</div>
