<div style="margin-top: 20px; padding-left: 10px;">
<h1>Bands profile</h1>

	
<p>see all bands profile</p>

	  <ul class="nav-item">
        <a class="nav-link active" href="/form/" onclick="ga('form');">Band Form</a>
      </ul>

      <ul class="nav-item">
        <a class="nav-link active" href="/website/" onclick="ga('website');">Visit Website</a>
      </ul>
</div>

