

<h1>Planet of Bands</h1>

<% if current_user %>

		<%= link_to 'create photo album', new_album_path %>

		<%= link_to 'Logout', destroy_user_session_path , method: :delete %>

	<% else %> 

		<%= link_to 'Register', new_user_registration_path %>

		<%= link_to 'Login', user_session_path %>

<% end %>		