


Tunjuk semua albums di sini.

<% if @album.any? %>
	<% @album.each do |album| %>
		<div class="card">
			<div class="card-body">
				<%= link_to album.name, album_path(album) %>
				<%= link_to 'Remove', method: :delete %>
			</div>
		</div>
	<% end %>
<% end %>



