
<h1>Check All Bands</h1>


<% if @band.any? %>
	<% @band.each do |band| %>
		<div class="card">
			<div class="card-body">
				<%= link_to band.name, band_path(band) %>
			</div>
		</div>
	<% end %>
<% end %>